*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

body{
    min-height: 200vh;
    background-color: #eeeceb;
}

header{
    /* 固定定位 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* 彈性布局 */
    display: flex;
    /* 將元素靠邊對其 */
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1;
    /* 動畫過度 */
    transition: 0.6s;
}

header .logo{
    font-size: 32px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    /* 轉大寫 */
    text-transform: uppercase;
    /* 字間距 */
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul{
    display: flex;/*設定網頁元素的顯示類型*/
    justify-content: center;/*操控"主軸上彈性項目的分布"*/
    align-items: center;
}

header ul li{
    list-style: none;/*整列表的顯示功能*/
}

header ul li a,p{
    margin: 0 15px;
    text-decoration: none;/*不顯示任何文字特效*/
    color: black;
    font-weight: 500;
    letter-spacing: 2px;/*控制字元間距的屬性*/
    transition: 0.6s;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a,p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.banner1{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../images/gym2.jpg)
    no-repeat;
    /*保持圖片原有比例, 裁切長邊*/
    background-size: cover;
    /*圖片定位正中間*/
    background-position: center center;
}

/*.banner2{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(./健身房2.jpg)
    no-repeat;
    background-size: cover;
    background-position: center center;
}*/

/* 滑鼠滾動滑鼠滾動後, 改變導航列樣式*/
header.sticky{
    padding: 6px 100px;
    background-color: #fff;
}
header.sticky .logo,
header.sticky ul li a{
    color: #000;
}

/* 第一段
.content1{
    border-left: 6px solid blue;
    font-size: 30px;
    margin-top: 10px;
} */

/*第一張圖片上的字*/
.content1{
    position: absolute;
    bottom: 250px;
    right: 450px;
    font-size: 90px;
    color: #fff;
    font-family: "Lucida Console", "Courier New", monospace;

    
}
/*第一張與第二張的字*/
.content2{
    position: absolute;
    font-size: 50px;
    
    right: 400px;
    color: #fff;
    text-align: center;
    
}

.content4 {
    float: left;
    width: 50%;
    padding: 15px;
    font-size: 25px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.row1 .content5 #powder{
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px; 
  width: 400px;
  height: 333px;
}

  .content5{
    float: left;
    width: 50%;
    padding: 15px;
    font-size: 25px;
  }

  .row1::after {
    content: "";
    display: table;
    clear: both;
  }